{% extends "layout.html" %}

{% block content %}

<div class="profile-card">

    <h1>User Profile</h1>

    <div class="profile-info">

        <div class="info-box">

            <h3>Username</h3>

            <p>{{ username }}</p>

        </div>

        <div class="info-box">

            <h3>Email</h3>

            <p>{{ email }}</p>

        </div>

        <div class="info-box">

            <h3>Account Created</h3>

            <p>{{ created_at }}</p>

        </div>

    </div>

</div>

{% endblock %}